<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888122072826-h7789i1rmhspce1auid96b6nq6uq6l05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888122072826-h7789i1rmhspce1auid96b6nq6uq6l05</string>
	<key>API_KEY</key>
	<string>AIzaSyAy85yzc79ce6cJi4zb3HId3iAPZHctmLI</string>
	<key>GCM_SENDER_ID</key>
	<string>888122072826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alaa.chatApp</string>
	<key>PROJECT_ID</key>
	<string>smilechatapp-eecc0</string>
	<key>STORAGE_BUCKET</key>
	<string>smilechatapp-eecc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888122072826:ios:0084fff256c5028cdb7343</string>
</dict>
</plist>